/*/*/

* /*/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 100px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.preview-thumbnail .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 100px;
    height: 200px;
}

.form-signup {
    padding: 15px 100px;
}

.breadcrumb > li{
    float:none;
}

.g-signin2 {
    margin-left: 500px;
    margin-top: 200px;
}
.or {
   margin-right:790px;

}
#login {
    margin:16px;
}
.forget {
    margin-left:470px;
}
.Signindiv {
    padding: 80px;
    margin-bottom: 50px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.data1{
    display:none;
}
.breadcrumbb {
    width:auto; 
    height:100%;
}




/*/*css for list page*/

/*
img {
    max-width: 100%;
    
}
.CusImg{

    height:120px !important;
    
}

* {
    transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease
}

.my-list {
    width: 100%;
    padding: 10px;
    border: 1px solid #f5efef;
    float: left;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 2px 3px 0px #e4d8d8;
    position: relative;
    overflow: hidden;
}

    .my-list h3 {
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        margin: 0px;
        padding: 0px;
        border-bottom: 1px solid #ccc4c4;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .my-list span {
        float: left;
        font-weight: bold;
    }

        .my-list span:last-child {
            float: right;
        }

    .my-list .offer {
        width: 100%;
        float: left;
        margin: 5px 0;
        border-top: 1px solid #ccc4c4;
        margin-top: 5px;
        padding-top: 5px;
        color: #afadad;
    }

.detail {
    position: absolute;
    top: -100%;
    left: 0;
    text-align: center;
    background: #fff;
    height: 100%;
    width: 100%;
}

.my-list:hover .detail {
    top: 0;
}

.listt{

    height:200px !important;
}*/