/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2018, 10:50:01 AM
    Author     : PC129-
*/

header{
    width: 100%;
    float: left;
    position: absolute;
    z-index: 1;
}
#top-header{
    width: 100%;
    float: left;
    padding: 8px 0;
    background: #000;
}
#top-header .main-menu{
    width: 100%;
    float: left;
}
.number-sec{
    width: 100%;
    float: left;
}
.about-sec{
    text-align: right;
    width: 100%;
    float: left;
}
.number-sec .text{
    width: 100%;
    float: left;
    color: #fff;
    padding: 0 8px;
    border-right: 2px solid #fff;
}
.number-sec .email{
    width: 100%;
    float: left;
    color: #fff;
}
.about-sec{
    width: 100%;
    float: left;
}
.about-sec .list-menu{
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
}
.about-sec .list-menu li{
    list-style-type: none;
    color: #fff;
    
}



/*-----------main-header------------------------*/

#main-header{
    width: 100%;
    float: left;
    padding: 30px 0;
}
#main-header .logo{
    width: 100%;
    float: left;  
}
.navbar{
   width: 100%;
   float: left;
   margin: 0;
   padding: 0;
   display: flex;
   margin-top: 15px;
}
.navbar li{
    list-style-type: none;
    
}
.navbar li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px;
    color: #fff;
    transition: 0.5s;
}
.navbar li a:hover{
    color: orange;
}
/*--------------slideer-sec------*/
#myCarousel{
    width: 100%;
    float: left;
}





.right_sliding {
    position: absolute;
    left: auto;
    right: -276px;
    background: #ffffff;
    width: 100px;
    margin-left: 20px;
    z-index: 243;
    display: none !important;
}
.category_menu li:hover .right_sliding{
    display: block !important;
}