<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalYearProject</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap1.css">
    <link rel="stylesheet" href="~/css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/New css/stylesheet.css">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     
    </environment>
    <environment exclude="Development">


        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </environment>
</head>
<body>


  

    <partial name="_CookieConsentPartial" />

  

    <div class="pageWrapper">
        <div class="header-wrapper">
            <div class="page-center">
                <div class="header">
                    <div class="header-left">
                        <div class="logo">
                            <a href="/First/HomePage">
                                <img src="~/images/logo/logo.png" />

                            </a>
                        </div>
                    </div>
                    <div class="right-header">
                        <div class="signin signin-lg show-only-lg header-right">
                            <div class="signin-btn">
                                <div class="wishlist-dropdown">
                                    <img src="~/images/icons/wishlist-header-icon.png" class="top-signin-icon" />
                                    <a href="#" class="header-account-link">Wishlist</a>
                                </div>
                                <div class="wishlist-dropdown">
                                    <img src="~/images/icons/sign-in-header-icon.png" class="top-signin-icon" />
                                    <a href="/First/Login" class="header-account-link">Sign In</a>
                                </div>
                                <div class="wishlist-dropdown">
                                    <img src="~/images/icons/sign-up-header-icon.png" class="top-signin-icon" />
                                    <a href="/First/SignUp" class="header-account-link">Sign Up</a>
                                </div>
                            </div>
                        </div>
                        <div class="header-center">
                            <ul>
                                <li><a href="/First/HomePage">Home</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    @RenderBody()
    <hr />

  
    
    <footer class="page-footer font-small unique-color-dark pt-4">

<!-- Footer Elements -->
<div class="container">

   <!-- Call to action -->
   <ul class="list-unstyled list-inline text-center py-2">
       <li class="list-inline-item text-center">
           <h5 class="mb-1">Register for free</h5>
       </li>
       <li class="list-inline-item">
           <a href="/First/SignUp" class="btn btn-outline-white btn-rounded">Sign up!</a>
       </li>
   </ul>
   <!-- Call to action -->

</div>
<!-- Footer Elements -->



</footer>

<!-- Copyright -->
<div class="footer-copyright text-center py-3">
© 2019 University Of Gujrat, Sialkot Campus
<a href="/First/HomePage"> OPPC</a>
</div>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>



    <script src="~/js/site.js" asp-append-version="true"></script>
    
</environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">

           

        </script>


        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/Zoomer/jquery.zoom.min.js"></script>



        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
