<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinalYearProject</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </environment>
    <environment exclude="Development">


        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </environment>
</head>
<body>


    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">OPPC</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>*@

    <partial name="_CookieConsentPartial" />

    <div class="navbar navbar-inverse navbar-fixed-top alert alert-info nav" >

        <div class="col-md-3 col-sm-3 col-xs-3 logo">

            <img src="~/images/OPPC.png"  />
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6 banner">
            <img src="~/images/WebHeaderBanners_Technology.png" class="img img-responsive "  />
        </div>

        <div class="col-md-3 col-sm-3 col-xs-3">
            <ul class="nav navbar-nav navbar-right sign">

                <li>
                    <a asp-area="Identity" asp-page="/Account/Login">
                        <img src="~/images/wishlist-header-icon.png"  /><br />Wishlist
                    </a>
                </li>

                <li>
                    <a href="/First/SignUp">
                        <img src="~/images/sign-up-header-icon.png"  /><br />Sign Up
                    </a>
                </li>


                <li>
                    <a href="/First/Login">
                        <img src="~/images/sign-in-header-icon.png" class="abc" /><br />Login
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container body-content">
        @*<div class="alert alert-info">
            this is header
        </div>*@
        @RenderBody()
        <hr />
        
            <div class="footer container text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                        <!-- Content -->
                        <h5 class="font-weight-bold text-uppercase mb-4 alert alert-danger"><strong><u>Online Product Price Comparision</u></strong></h5><br />
                        <p>Our business philosophy focuses on high quality products, great savings and easy shopping! 
                        We aspire to create the ideal online shopping store environment for our customers. </p>
                       

                    </div>
                  
                    <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                        <!-- Links -->
                        <h5 class="font-weight-bold text-uppercase mb-4 alert alert-danger"><strong>About</strong></h5>

                        <ul class="list-unstyled">
                           
                            <li>
                                <p>
                                    <a href="#!">About uS</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="#!">Policies</a>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <a href="#!">Contact Details</a>
                                </p>
                            </li>
                        </ul>

                    </div>
                   
                    <div class="col-md-3 col-lg-3 mx-auto my-md-3 my-0 mt-3 mb-1">

                        <!-- Contact details -->
                        <h5 class="font-weight-bold text-uppercase mb-4 alert alert-danger"><strong>Address</strong></h5>

                        <ul class="list-unstyled">
                            <li>
                                <p>
                                    <span class="glyphicon glyphicon-home">
                                        Sialkot Pakistan
                                    </span>                                </p>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-user">
                                  ajmal@gmail.com
                                </span>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-phone">
                                    123456789
                                </span>
                            </li>
                           
                        </ul>

                    </div>
                    
                    <div class="col-md-3 col-lg-3 text-center mx-auto my-4">

                        <!-- Social buttons -->
                        <h5 class=" text-uppercase mb-4 alert alert-danger"><strong>Follow Us</strong></h5>


                        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                        <a href="https://www.twitter.com" class="fa fa-twitter"></a>
                        <a href="https://accounts.google.com/signin" class="fa fa-google"></a>
                        <a href="https://www.linkedin.com/uas/login" class="fa fa-linkedin"></a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
          
        <a href="#" class="scrollToTop">&nbsp;</a>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/lib/Zoomer/jquery.zoom.min.js"></script>


        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>


        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/Zoomer/jquery.zoom.min.js"></script>



        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
   
    @RenderSection("Scripts", required: false)
</body>
</html>
