@model FinalYearProject.Models.Category

@{
    ViewData["Title"] = "HomePage";
}


    <form>
        <input type="text" name="search" placeholder="Search..">
    </form>

<div class="alert alert-dismissable">
    <div class="col-md-3 col-sm-3 col-xs-3">
        <ul class="list-group Ca">
            <li class="list-group-item CA">CATEGORIES</li>
            <li class="list-group-item "><a href="#">Mobiles</a></li>
            <li class="list-group-item "><a href="#">Laptops</a></li>

        </ul>
    </div>
    <div class="col-md-6 col-xs-6 col-sm-6 abcd">

        <div class="tab-slider-wrapper " id="slider-wrapper">
            <ul class="nav nav-tabs " role="tablist" id="homepg-slider-tabs">
                <li role="presentation" class=""><a href="#mobile" aria-controls="home" role="tablist" data-toggle="tab" aria-expanded="false">Mobiles</a></li>
                <li role="presentation" class=""><a href="#sales" aria-controls="home" role="tablist" data-toggle="tab" aria-expanded="false">Sales &amp; Deals</a></li>
                <li role="presentation" class=""><a href="#fashion" aria-controls="profile" role="tablist" data-toggle="tab" aria-expanded="false">Fashion &amp; Style</a></li>
                <li role="presentation" class=""><a href="#events" aria-controls="profile" role="tablist" data-toggle="tab" aria-expanded="false">Events</a></li>
                <li role="presentation" class="active"><a href="#lawns" aria-controls="profile" role="tablist" data-toggle="tab" aria-expanded="true">Lawn</a></li>




            </ul>
            
        </div>


    </div>
   


    <div class="col-md-3 col-sm-3 col-xs-3">


    </div>



</div>
