@model FinalYearProject.Models.UserSystem

@{
    ViewData["Title"] = "Login";
    

}


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <h2>@ViewBag.Message</h2>

}

<head>
    <title>Google Sign in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">


    <meta name="google-signin-client_id" content="825129552104-ehd03vuhacphu3j772g56l6t95tgmqnb.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <sccript src="script.js"></sccript>


</head>

<div class="container">
    <div class="row">
        <div class="main">
            <h3>Please Log In, or <a href="#">Sign Up</a></h3>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#" class="btn btn-lg btn-primary btn-block">Facebook</a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <a href="#" class="btn btn-lg btn-info btn-block">Google</a>
                </div>
            </div>
            <div class="login-or">
                <hr class="hr-or">
                <span class="span-or">or</span>
            </div>
            <form role="form">
                <div class="form-group">
                    <label for="inputUsernameEmail">Username or email</label>
                    <input type="text" class="form-control" id="inputUsernameEmail">
                </div>
                <div class="form-group">
                    <a class="pull-right" href="#">Forgot password?</a>
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword">
                </div>
                <div class="checkbox pull-right">
                    <label>
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn btn-primary">
                    Log In
                </button>
            </form>

        </div>

    </div>
</div>





<div>
    <div class="g-signin2" data-onsuccess="onsignin"></div>
    <div class="data1">
        <p>Profile Details</p>
        <img id="pic" class="img-circle" style=" width:100px; height:100px" />
        <p>Email Address</p>
        <p id="Email" class="alert alert-danger"></p>
        <button onclick="SignOut" class="btn btn-danger">Sign Out</button>

    </div>
    @*Sign in With Gmail login Sdk*@

    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            $(".g-signin2").css("display", "none");
            $(".data1").css("display", "block");
            $("#pic").attr('src', profile.getImageUrl());
            $("#email").text(profile.getEmail());

        }


    </script>

    <script>
        // initialize and setup facebook js sdk
        window.fbAsyncInit = function () {
            FB.init({
                appId: '161791954705248',
                xfbml: true,
                version: 'v3.2'
            });
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    document.getElementById('status').innerHTML = 'We are connected.';
                    document.getElementById('login').style.visibility = 'hidden';
                } else if (response.status === 'not_authorized') {
                    document.getElementById('status').innerHTML = 'We are not logged in.'
                } else {
                    document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
                }
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // login with facebook with extra permissions
        function login() {
            FB.login(function (response) {
                if (response.status === 'connected') {
                    document.getElementById('status').innerHTML = 'We are connected.';
                    document.getElementById('login').style.visibility = 'hidden';
                } else if (response.status === 'not_authorized') {
                    document.getElementById('status').innerHTML = 'We are not logged in.'
                } else {
                    document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
                }
            }, { scope: 'email' });
        }

        // getting basic user info
        function getInfo() {
            FB.api('/me', 'GET', { fields: 'first_name,last_name,name,id' }, function (response) {
                document.getElementById('status').innerHTML = response.id;
            });
        }
    </script>

    @*<div id="status"></div>*@
    <br />
    <div class="text-right or">or</div>
    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:470px;">
        <button onclick="login()" id="login">Sign in Facebook</button>
    </div>

    
</div>