

@{
    ViewData["Title"] = "UploadExcel";
    Layout = "_LayoutForuploadFile";
}
<h2>Upload File</h2>

@using (Html.BeginForm("UploadExcel","Second", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group">
        <input type="file" id="datafile" name="Upload"/>
    </div>

    <div class="form-group">

        <input type="submit" name="btnuplaod" value="Upload" class="btn btn-default"/>
    </div>
}




